@font-face {
  font-family: "Apex-Regular";
  src: url("Apex Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AwesomeLathusca-Regular";
  src: url("Awesome Lathusca.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
